h1 {
    font-family: Satisfy, cursive;
    text-align: center;
    color: #666666;
}

h1:hover {
    background-color: #ffe6f7;
}

.red {
    background-color: #ff3333;
    font-family: 'Playfair Display', serif;
    color: #666666;
}

.yellow {
    background-color: #ffffcc;
    font-family: 'Playfair Display', serif;
    color: #666666;
}

.lightBlue {
    background-color: #e6faff;
    font-family: 'Playfair Display', serif;
    color: #666666;
}

.lightPurple {
    background-color: #ddccff;
    font-family: 'Playfair Display', serif;
    color: #666666;
}

.lightGreen {
    background-color: #d6f5d6;
    font-family: 'Playfair Display', serif;
    color: #666666;
}

.lightPink {
    background-color: #ffe6f7;
    font-family: 'Playfair Display', serif;
    color: #666666;
}

body {
    background-color: #f2f2f2;
}

p {
    color: #4d4d4d;
}

ol {
    background-color: #e6e6e6;
    color: #ffb3e7;
}

ul {
    background-color: #e6e6e6;
    color: #bb99ff;
}

img {
    width: 345px;
    height: auto;
    background-color: #000000;
}

.colors {
    width: 115px;
    height: 115px;
    border: 2px dotted #f2f2f2;
    padding: 1px;
    text-align: center;
    border-radius: 20%;
}

.boxes {
    display: flex;
}